<div class="mblock special">
  <div class="mblock-hdr">
    <h3>Say something</h3>
  </div>
  <div class="mblock-cnt">
    <ul class="media-list">
      <li class="media-item status-form">
        <% semantic_form_for @message do |semantic_form| %>
        <% semantic_form.inputs do %>
          <%= semantic_form.input :body, :label => "Message", :class => "status-entry", :input_html => {:rows => 2, :cols => 55, :class => 'status-entry'}, :required => false %>
        <% end %>
        <p class="btns">
          <% semantic_form.buttons do %>
            <%= semantic_form.commit_button "Post" %>
          <% end %>
        </p>
        <% end -%>
      </li>
    </ul>
  </div>
</div>

<div class="mblock">
  <div class="mblock-hdr">
    <h3>Messages</h3>
  </div>
  <div class="mblock-cnt">
    <ol id="timeline" class="media-list">
    <% @messages.each do |message| -%>
      <li class="hentry media-item clearfix">
        <span class="time-span"><%= message.created_at.to_s :time %></span>
        <div class="media vcard author">
          <%#NOTE: Avatar placeholder%>
        </div>
        <div class="media-content">
          <h4 class="media-title status"><%= message.body %></h4>
          <p class="quiet">posted <%=  time_ago_in_words(message.created_at) %> ago</p>
        </div>
      </li>
    <% end -%>
    </ol>
  </div>
</div>

<% content_for :sidebar do %>
  <%= render :partial => 'users/registration_form', :locals => { :user => @user } %>
<% end %>