<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>Smsaholics - Jenan 9498</title>
	<%= stylesheet_link_tag 'screen' %>
	<!--[if lt IE 7]>
	  <%= stylesheet_link_tag 'fail' %>
	  <%= javascript_include_tag 'morefail' %>
	<![endif]-->
</head>
<body>
  <!-- header -->
  <div id="header">
    <div id="header-cnt">
      <h1>Smsaholics</a></h1>
    </div>
    <div id="header-nav">
      <ul class="clearfix">
        <li><%= link_to 'Messages', messages_path %></li>
      </ul>
    </div>
    <div id="header-meta">
      <%= link_to "logout", destroy_user_session_path if user_signed_in? %>
    </div>
  </div>
  <!-- /header -->
  <!-- wrapper -->
  <div id="wrapper">
    <!-- contents -->
    <div id="content" class="clearfix">
      <!-- main -->
      <div id="main">
        <% %w[notice success error failure].each do |flasher|%>
          <% if flash[flasher.to_sym] %>
            <div id="<%= flasher %>" class="mblock">
              <div class="mblock-cnt">
                <%= flash[flasher.to_sym] %>
              </div>
            </div>
          <% end %>
        <% end %>
        <%= yield %>
      </div>
      <!-- /main -->

      <!-- sidebar -->
      <div id="sidebar">
        <%= yield :sidebar %>
      </div>
      <!-- /sidebar -->

    </div>
    <!-- /contents -->
  </div>
  <!-- /wrapper -->
  <%= javascript_include_tag 'application' %>
  <small>made lovingly by <%= link_to "arzumy", "http://ar.zu.my" %>. theme credited to <%= link_to "entp", "http://github.com/entp/xtt"%></small>
</body>
</html>
